.footer {
  background-color: var(--primary-color);
  height: 200px;
  display: flex;
  align-items: center;
}

.estiloIcon {
  font-size: 32px;
  margin-right: 10px;
}

.links {
  text-decoration:none;
  color: white;
}
.containerFooter {
  margin-right: auto; 
  margin-left: auto; 
  max-width: 960px; 
  padding-right: 10px; 
  padding-left: 10px; 
  width: 100%; 
}

.listaFooter li {
  color: #FFFF;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}