.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  height: 200px;
  text-align: center;
}

.containerFooter {
  max-width: 1200px;
  margin: 0 auto;
}

.listaFooter {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.listaFooter li {
  padding-top: 20px ;
  margin-right: 40px;
  color: #FFFF;
  font-weight: 500;
  font-size: 18px;
}

.footer p {
  margin-top: 10px;
  padding-top: 20px;
 font-weight: 700;
 font-size: 18px;
 color: #FFFF;
}

.links {
  text-decoration:none;
  color: white;
}

.estiloIcon {
  font-size: 32px;
  margin-right: 10px;
}