



.principal{
  height: 100vh;
  display: flex;
  background-color: #EAEAEA;
  padding-top: 10px;
}

.principal img {
  border-radius: 40px; 
}

.container {
  margin-left: 20px; 
  margin-right: 20px; 
  margin-top: 200px;
  max-width: 960px; 
  padding-right: 10px; 
  padding-left: 10px; 
  width: 100%; 
  right: 10px;
}

.containerSobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 200px;     
margin-top:200px ;    
 
}

.nomeCompleto {
  font-size: 36px;
  color: #8C52FF;
  font-weight: 700; 
  height: 45px;
  padding-top: 10px;
}

.sobreMim {
  font-size: 20px;
  line-height: 20px; 
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;

}

.profissao {
  color: #00BF63;
  height: 60px; 
  padding-bottom: 20px;  
}

.topicoPrincipal {
  font-size: 36px;
  color: #8C52FF;
}


.sectionLista {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
  flex-direction: column;
}
.listaItem {
  padding: 32px;  
}

.listaItem ul li {
  margin-bottom: 32px; 
}

.listaTitulo {
  padding-top: 10px; 
 
  font-size: 22px;
  color: #00BF63;
  font-weight: 700;
}

.listaLocal {
  font-size: 18px;
  color: #2F80ED;
}

.listaDescricao {
  font-size: 18px;
  margin-top: 5px;
  line-height: 20px; 
  color: black;
  font-weight: 300;
}

.formacao {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 32px;  
}

.projetos {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 32px;  
}



@media(max-width: 765px) {
  .subtitulo {
    flex-direction: column; 
  }

  .header h1 {
   padding: 2rem;
    font-size: 2rem;
  }

  .subtitulo img {
    margin: 2rem;
    width: 80vw;
    height: 25vh;
  }

  .subtitulo p {
    width: 80%;
  }

  .tituloSobre {
    width: 80%;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: ExtraLight 200;
  }

  .containerSobre {
    flex-direction: column;
  }
}